.bookInfo {
  background-color: white;
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 1px 3px 2px darkslategray;
  height: 700px;
  overflow: auto;
}


.titleText {
  padding-top: 20px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 24px;
  color: black;
}

.bookDataText {
  padding-bottom: 30px;
  padding-top: 30px;
  font-size: 16px;
  color: black;
}

.authorText {
  font-style: italic;
  font-size: 16px;
  color: gray;
}

.book_cover{
  max-width: 200px;
  max-height: 500px;
  padding-top: 30px;
  padding-bottom: 20px;
  margin: auto;
}
