
.bookpv {
    background-color:#70A37F;
    border-radius: 10px;
    margin: 20px; 
    display: flex;
    justify-content: left;
    align-items: center;
    outline-style: solid;
    padding-left:20px;
    width: 95%
  }

  .bookpv div {
    color: black;
    text-align: center;
    display: inline-block;
    font-size: 20px;
  }

  .textGrouping div{
      padding: 10px 16px;
  }

  .bookinfo{
      display: flex;
      align-content: center;
      background-color: white;
      box-shadow: 1px 3px 2px darkslategray;
      border-radius: 10px;
      
  }

h2 {
   font-weight:bold;
   font-size: 24px;
}

h3{
    font-size: 16px;
    padding: 10px 1px;
}

h4{
    font-style:italic;
    color:black;
    font-size: 14px;
}

.book_cover{
    width: 180px;
    height: auto;
}

.book_info_text {
    text-align: center;
}

