.welcomeBack {
    background-color: rgb(224, 242, 233, 0.25);
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
    padding-top: 80px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 1px 3px 2px darkslategray;
    font-family: garamond;
}

.homeText {
    padding-bottom: 50px;
    text-align: left;
    font-weight: bold;
    font-size: 30px;
    color: #F7EDE2;
    text-decoration: underline;
    font-family: garamond;
}

.welcomeText {
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 60px;
    color: #F7EDE2;
    font-family: garamond;
}

.book-data-text {
    padding-bottom: 50px;
    padding-top: 30px;
    font-size: 50px;
    color: #F7EDE2;
    font-family: garamond;
}

.previousText {
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: left;
    font-weight: bold;
    font-size: 24px;
    color: #F7EDE2;
    text-decoration: underline;
    font-family: garamond;
}

.yellow {
	background-color: #FFA630;
	color:black;
	font-family: garamond;
	font-size:20px;
}

.orange {
	background-color:#EE6C4D;
	color:black;
	font-family: garamond;
	font-size:20px;
}

.border {
	border-color:black;
	border-width: thick;
}

hr {
border: solid 1px;
margin: auto;
width: 80%;
background-color: black;
}

