.listener_name_section {
    background-color: rgb(224, 242, 233, 0.25);;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    text-align: left;
    box-shadow: 1px 3px 2px darkslategray;
    
}

.listener_name {
    font-weight: bold;
    font-size: 30px;
    color: #F7EDE2;
    padding: 15px;
    font-family: garamond;
}

.bigWords_section {
    background-color: rgb(224, 242, 233, 0.25);;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 1px 3px 2px darkslategray;
    position:absolute;
    top: 165px;
    bottom:10px;
    left:3px;
    width:48%;
}

.bigWords_list {
    background-color: rgb(224, 242, 233, 0.5);;
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 1px 3px 2px darkslategray;
    height: 80%;
    overflow: auto;
}

.bigwords_title {
    font-weight: bold;
    font-size: 40px;
    color: #F7EDE2;
    font-family: garamond;
}

.allWords_section {
    background-color: rgb(224, 242, 233, 0.25);;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 1px 3px 2px darkslategray;
    position:absolute;
    top: 165px;
    bottom:10px;
    right:3px;
    width:48%;
}

.allWords_list {
    background-color: rgb(224, 242, 233, 0.5);
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 1px 3px 2px darkslategray;
    height: 80%;
    overflow: auto;
}

.allwords_title {
    font-weight: bold;
    font-size: 40px;
    color: #F7EDE2;
    font-family: garamond;
}

.current_word {
    color: #061E23;
    font-weight:bold;
    font-size: 30px;
    text-align: left;
    background-color:#70A37F;
    border-radius: 15px;
    border-color:#F7EDE2;
    border-width:thick;
    height: 65px;
    padding: 10px;
    margin-bottom: 10px;
    font-family: garamond;
}

.current_count {
    float: right;
    padding-right: 8px;
}

p {
    text-align: center;
    color: #F7EDE2;
    font-size: 30px;
    font-family: garamond;
    font-weight: bold;
}

button {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    background-color: white;
    border-radius: 8px;
    font-size: 10px;
}

.listener {
    font-size: 15px;
    float: right;
    margin-top: 1px;
    background-color:rgb(224, 242, 233, 0.25);
}

.right {
    float:right;
    width:50%;
}

.left {
    float:left;
    width:50%;
}

.border {
    border-color:#F7EDE2;
    border-width: thick;
  }