.topnav {
    background-color:white;
    box-shadow: 1px 3px 2px darkslategray;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
  }
  
  .topnav div {
    color: gray;
    text-align: center;
    padding: 10px 16px;
    display: inline-block;
    font-size: 12px;
  }
  
  .topnav a:hover {
    background-color: white;
    color: black;
  }

  .topnav a:active {
    background-color: white;
    color: black;
  }

  .topnav a {
    color:gray;

  }