.logo {
    display:flex;
    margin:auto;
    margin-top: 10vh;
    width: 70vw;
    height: auto;
	justify-content: center;
}

.title {
	font-size:100px;
	color:#E0F2E9;
	text-align:center;
	padding: 15px;
	font-family: garamond;
}

.border {
	border-color:black;
	border-width: thick;
}

.background {
	background: linear-gradient(-40deg, #E0F2E9,#FFA630,#3C887E,#214746); 
	background-size: 150% 100%;
	height: 102vh;
}

.signupform {
    margin: 20px;
}

.loginForm {
    margin: 20px;
}

.card {
	padding:30px;
	margin-top:200px;
	margin-left:200px;
	margin-right:200px;
	background-color:rgb(224, 242, 233, 0.25);
}

.center {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
  }

.login {
	background-color: #FFA630;
	color:black;
	font-family: garamond;
	font-size:20px;
}

.signup {
	background-color:#EE6C4D;
	color:black;
	font-family: garamond;
	font-size:20px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}